/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Common Utilities and styles */
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
/* Header section Styles */
.header-container{
    background-color: #2D25A0;
    height: 677px;
}
.header-content{
    display: flex;
}
.header-title, .header-img{
    width: 50%;
}
.title-txt{
    width: 485px;
    height: 230px;
    font-size: 64px;
    color: #FFFFFF;
    margin-top:207px;
    margin-left: 156px;
    margin-bottom: 0px;
}
.watch-live-btn{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    border: 1px solid #E02C6D; 
    margin-top: 40px;
    margin-left: 156px;  
    font-size: 16px;
    color: #FFFFFF;  
}
.watch-live-btn:hover{
    background-color: #e74f87;
}
.header-img img{
    width: 556px;
    margin-top: 153px;
}

/* Main Section Styles */
/* Players */
.container{
    background-color: rgb(240, 239, 239);
    padding: 60px 210px 0px 180px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 36px;
}
.player{
    width: 330px;
    background-color: white;
    border: 2px solid white;
}
.player img{
    width:300px;
    height: 256px;
}

.player img, .player-name, p{
    margin: 15px 15px;
}

.player-name{
    font-size: 28px;
    color: #18191F;
}

.player p{
    font-size: 16px;
    color: #6C6C6C;
}

/* Hightlights Section Styles*/
.highlights{
    display: flex;
    margin-top: 165px;
}
.highlight-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.highlight-info, .hl-image{
    width: 50%;
}

.highlight-info h1{
    
}
.highlight-info p{
    margin-left: 0px;
}
.watch-live-btn2{
    width: 168px;
    height: 44px;
    background: #E02C6D;
    border: 1px solid #E02C6D;  
    font-size: 16px;
    color: #FFFFFF;
    
}
.watch-live-btn2:hover{
    background-color: #e74f87;
}
.hl-image img{
    width: 567px;
}

/* footer section styles */
footer{
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.football-logo img{
    width: 227px;
}
.fontawesome-icon{
    width: 40px;
    color: rgb(97, 94, 94);
}
.copyright-text{
    font-size: 18px;
    color:black;
}

